html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    position: relative;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 20;
}

.add-recipes-form {
    display: none;
    width: 600px;
    padding: 30px;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ebeaec' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 1000;
    border: 12px solid #000;
}

    .add-recipes-form__list {
        position: relative;
        padding-bottom: 10px;
        margin: 0;
        padding-left: 0;
    }

        .add-recipes-form__list__item {
            display: flex;
        }



    .add-recipes-form__title {
        color: #111;
    }

    .add-recipes-form__subtitle {
        color: #000;
        font-size: 20px;
        margin: 2px 0;
        font-size: 13px;
        text-transform: uppercase;
    }

        .add-recipes-form__list__input {
            padding: 10px;
            font-size: 1rem;
            color: #999;
            width: 100%;
            display: block;
            border: 1px solid #999;
            border-radius: 4px;
            max-width: 100%;
            margin: 10px;
            flex: 1;
        }

        .add-recipes-form a {
            position: absolute;
            right: -23px;
            top: 9px;
            display: inline-block;
            margin: 5px 0;
            text-decoration: none;
            font-size: 30px;
            color: #999;
        }

            .add-recipes-form a:hover {
                color: #000;
            }

.button {
    display: block;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    text-align; center;
    width: 100%;
    background: transparent;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    border: 2px solid #000;
}

.button:hover {
    background: #000;
    color: #fff;
}


.bg-elements {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
}

.bg-elements::before {
    content: "";
    background-color: #dedede;
    position: absolute;
    width: 562px;
    height: 2061px;
    transform: rotate(-21deg);
    z-index: 1;
    left: -187px;
    top: 0;
}

.bg-elements::after {
    content: "";
    background-color: #dedede;
    position: absolute;
    width: 562px;
    height: 3352px;
    transform: rotate(-21deg);
    z-index: 1;
    right: 0;
    bottom: 0;
}

@media all and (max-width:760px) {
    .bg-elemenst::before {

    }

    .bg-elements::after {
        display: none;
    }
}

.site-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f4858;
    min-height: 100vh;
}


@media all and (max-width:760px) {
    .wrapper {
        flex-direction: column;
        padding: 0 10px 10px 10px;
    }
}

.content  {
    flex-basis: 50%;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    display: none;
}

.content.active {
    display: block;
}

.recipes {
    padding-left: 0;
    width: 600px;
    position: relative;
    margin: 0 auto;
    min-height: 510px;
    transition: 1s ease-out;
}
.content__image {
    position: relative;

}

.content__image__image {
    max-width: 100%;
    display: block;
    line-height: 1;
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.content__subimage {
    position: absolute;
    right: 45px;
    bottom: -30px;
}

.content__process {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.content__process__title {
    font-family: 'Great Vibes', cursive;
    margin:0;
    font-size: 37px;
    font-weight: normal;
    line-height: 1.2;
    padding:20px 0 20px 0;
    margin-left:20px;
    margin-right:20px;
    border-bottom: 3px solid #dedede;
}

@media all and (max-width:760px) {
    .content__process__title {
        display: flex;
        justify-content: center;
    }
}

.title {
    flex-basis: 50%;
    padding:0 20px 0 50px;
}

@media all and (max-width:1000px) {
    .title {
        flex-basis: 30%;
    }
}

@media all and (max-width:760px) {
    .title {
        padding-bottom:40px;
    }
}

.content__process__preparation {
    display: flex;
}


.preparation {
    flex-basis: 35%;
    padding: 20px;
    border-right: 3px solid #dedede;
}

@media all and (max-width:1000px) {
    .preparation {
        padding-bottom: 0;
    }
}

    .preparation__title {
        margin:0;
        font-size: 15px;
    }

    .preparation__title {
        margin-top:15px;
    }

    .preparation__list {
        list-style-type: none;
        padding:0 10px;
        font-weight: 400;
        padding-bottom: 40px;
        padding-left: 0;
    }

    .preparation__list li {
        font-size: 13px;
    }

   .preparation__items::before {
        content:"-";
        padding-right: 5px;
    }
.process {
    flex-basis: 65%;
    padding: 20px;
}

@media all and (max-width:1000px) {
    .process {
        max-height: 400px;
        overflow: auto;
    }
}

.process__title {
    margin:0;
    font-size: 13px;
    margin-bottom: 10px;
}

.process__list {
    font-weight:400;
    padding: 0 0 0 11px;
}

.process__items {
    font-size: 13px;
}

@media all and (max-width:1000px)  {
    .process__list {
        padding:0 0 45px 11px;
    }

}

.site__title {
    margin:0;
    color: #f26419;
    font-size: 60px;
    max-width: 600px;
    font-weight: 900;
    font-style: italic;
    border-bottom: 2px solid #f6ae2d;
}
@media all and (max-width:1010px) {
    .site__title {
        font-size: 45px;
        line-height: 1;
        padding-top: 10px;
    }
}

@media all and (max-width:820px) {
    .site__title {
        font-size: 49px;
    }
}

.site__subtitle {
    color:#f6ae2d;
    font-size: 25px;
    font-weight: 400;
    margin:0;
    padding:15px 0;
    text-align: right;
}


@media all and (max-width:1000px) {
    .site__subtitle {
        font-size: 20px;
    }
}

@media all and (max-width:760px) {
    .site__subtitle {
        padding:20px 0;
    }

    .recipes {
        margin: 0 auto;
        width: 100%;
    }
}

.main__button {
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6ac2d+0,f6ac2d+14,f5a029+24,f5a029+24,f48b24+38,f3781e+57,f26419+100 */
    background: #f6ac2d; /* Old browsers */
    background: -moz-linear-gradient(left, #f6ac2d 0%, #f6ac2d 14%, #f5a029 24%, #f5a029 24%, #f48b24 38%, #f3781e 57%, #f26419 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f6ac2d 0%,#f6ac2d 14%,#f5a029 24%,#f5a029 24%,#f48b24 38%,#f3781e 57%,#f26419 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f6ac2d 0%,#f6ac2d 14%,#f5a029 24%,#f5a029 24%,#f48b24 38%,#f3781e 57%,#f26419 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ac2d', endColorstr='#f26419',GradientType=1 ); /* IE6-9 */
    padding: 15px 30px;
    text-align: center;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 26px;
    border-radius:4px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    width: 300px;
    margin: 30px 0 0 auto;
    position: relative;
}

.main__button:active {
    position: relative;
    top: 2px;
}



.main__button:before {
    --size:0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.3), transparent);
    transform: translate(-50%, -50%);
    z-index: 50;
    transition: 0.1s ease-in-out;
}

.main__button:hover:before {
    --size: 300px;
}

.recipes__skeleton {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
    margin: 0;
    background: #f8f8f8;
    min-height: 510px;
    transition: 0.5s ease-in-out;
}

.recipes__skeleton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;

}

:root {
    --gray-light: #ececed;
    --gray-accent: #dcdcdc;
  }

.recipes__skeleton:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 250px;
    background-image: linear-gradient(
    110deg,
    var(--gray-light) 73%,
    var(--gray-accent) 75%,
    var(--gray-light) 77%,
    var(--gray-light) 78%,
    var(--gray-accent) 84%,
    var(--gray-accent) 88%,
    var(--gray-light) 94%,
    var(--gray-light) 100%
  );
  background-size: 200% 100%;
  background-position: 0 center;
  border-radius: inherit;
  -webkit-animation: 2s ease-in-out loading infinite;
          animation: 2s ease-in-out loading infinite;
}
@-webkit-keyframes loading {
  0% { background-position-x: 0; }
  40%, 100% { background-position-x: -200%; }
}

@keyframes loading {
  0% { background-position-x: 0; }
  40%, 100% { background-position-x: -200%; }
}

.recipes__skeleton.hide {
   visibility: hidden;
   opacity: 0;
}

.recipes__skeleton__spinner {

      width: 40px;
      height: 40px;
      margin: 100px auto;
      background-color: #333;

      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;

}

@media (max-width:450px ) {
    .content__process__preparation {
        flex-direction: column;
    }

    .preparation__list {
        padding-bottom: 10px;
    }
}


@-webkit-keyframes sk-scaleout {
      0% { -webkit-transform: scale(0) }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }